*{
    margin: 0;
    padding: 0;
}
.box1{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.63),rgba(0,0,0,0.65)),url(148.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 82%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    margin-top: 20px;
    color: white;
    font-size: 26px;
    position: relative;
}
a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 26px;
    letter-spacing: 0.5px;
    text-align: center;
}
a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    left: 0;
    bottom: -10px;
}
a:hover:after{
    width: 100%;
}
.text{
    width: 100%;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    text-align: center;
    
}
.text h1{
    font-size: 56px;
    margin-top: 80px;
    color:white
}
.text h3{
    font-size: 32px;
    font-family:'Times New Roman', Times, serif;
    padding-top: 22px;
    color: white
}
.text p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
    color: black;
}
.span3{
    color: red;
}
.span1{
    color:yellow;
}
.span2{
    color: violet;
}
.navbar2{
    display:flex;
    width: 95%;
    height: 150px;
    margin:30px 40px 10px 40px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
}
.homenav1{
    width:55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.3s ease;
}
.homenav1 ul li{
    list-style: none;
    display: inline-block;
    color: black;
    font-size: 29px;
    position: relative;
    margin-right: 30px;  
    padding-left: 30px;
    transition: color 0.3s ease;
}
.homenav1 a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 29px;
    letter-spacing: 0.4px;
}
.homenav2{
    width: 45%;
    display: flex;
    color:white;
    justify-content: center;
    text-align: center;
}
.n{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 35px;
    letter-spacing: 0.5px;
}
.n:after{
    content: "";
    position: absolute;
    background-color:black;
    height: 3px;
    left: 0;
    bottom: -10px;
}
.n:hover:after{
width: 100%;
}
.n-hover:hover {
    text-decoration: underline;
}
.homenav2 .quote{
    background-color:#484872;
    margin: 20px 0px 10px 0px;
    width: 100%;
    object-fit: cover;
}
#qp1{
    margin-top: 10px;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer1{
    width: 100%;
    padding:20px 0 20px 0;
    background-color: #484872;
    text-align: center;
    position: relative;
    margin-top: 50px;
}
.footer1 p{
      color:whitesmoke;
      margin:20px auto;
}
.textabout{
    color: #a82626;
    font-family: 'Garamond', serif;
     margin-bottom: 15px;
}
.pdiv{
    width:90%;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: -150px;
}
.pabout{
    color:#a82626;
    font-family: 'Garamond', serif;
    font-size: 65px;
    margin-top: 80px;
}
.reviews{
    padding: 30px 20px;
    width: 650px;
    margin: 20px;
    border-left: 9px solid #a82626;
    background-color: #eee;
    margin-left:50px;
}
.reviews p{
    font-size: 21px;
}
.poster{
    margin-left: 150px;
    margin-top: 40px;
}    
.photoabout {
    width: 190px;
    height: 190px;
    margin-left: 500px;
}
.photoabout img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box2{
    width:100%;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4{
    width:100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.65)),url(w.jfif);
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: left;
    text-align: left;
}
.box5{
   padding-top: 65px;
   padding-left: 50px;
   font-size: 25px;
}
.box5 h2 h3{
    font-size: 25px;
    padding-top: 45px;
}
.icons{
    display:flex;
    height:200px;
    width: fit-content;
    justify-content: space-evenly;
    justify-content: center;
    text-align: center;
    flex-wrap:wrap;
    padding-top: 15px;
    margin-top: 60px;
}
.icons>div{
    width:150px;
    height:150px;
    margin-left: 90px;
    justify-content: space-evenly;
    padding:50px;
}
.icons>div>img{
    width: 175px;
    height: 175px;
}
.icons>div>dd{
    color:black;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin-left: 30px;
}
.social{
    padding-top: 45px;
    text-align: left;
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    margin: 30px 20px;
    
}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    background: #55ACEE;
    color: white;
}
.fa-google{
    background: #dd4b39;
    color: white;
}
.fa-youtube{
    background:#bb0000;
    color: white;
}
.register{
    min-height: 100vh;
    width: 90%;
    margin-top: 120px;
    margin-left: 25px;
    display:flex;
}
.form{
    position: absolute;
    margin-left: 110px;
    margin-top: 40px;
    max-width: 430px;
    width: 40%;
    width:100%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.form .registerform{
    display: none;
}
#check:checked ~ .registerform{
    display:block;
}
#check:checked ~ .login{
    display:none;
}
.register .form{
    padding: 32px;
}
#check{
    display: none;
}
.form header{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 32px;
    letter-spacing: 1px;
}
.btn{
    height:40px;
    width: 80%;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 21px;
    margin-left: 21px;
    border-bottom: 2px solid black;
    border-radius: 6px;
}
.form .btn:focus{
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.form input{
    height:40px;
    width: 80%;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 21px;
    margin-left: 21px;
    border:1px solid black;
    border-radius: 6px;
}
.form input:focus{
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.form a{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#009579;
    text-decoration: none;
    margin-left: 21px;
}
.form a:hover{
    text-decoration: underline;
}
.form button.btn{
    color:whitesmoke;
    background: #009579;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 27px;
    cursor: pointer;
    width: 87%;
    height: 40px;
    transition: 0.4s;
}
.form button.btn:hover{
    background: #006653;
}
.signup{
    font-size:17px;
    text-align: center;
    margin-bottom: 32px;
}
.signup label{
    color:#009579;
    cursor:pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.signup label:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar ul li {
        margin-top: 0;
        display: inline;
    }
    a{
        position: relative;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 16px;
        text-align: center;
    }
    .text h1 {
        font-size: 24px;
        margin-top: 20px;
    }
    .text h3 {
        font-size: 18px;
        padding-top: 10px;
    }
    .text p {
        font-size: 14px;
        line-height: 18px;
    }
    .homenav1 {
        width: 100%;
        flex-direction: column;
    }
    .homenav1 ul li {
        display: inline-block;
        margin: 5px 0;
    }
    .homenav1 a {
        font-size: 15px;
    }
    .homenav2 {
        width: 100%;
        margin-top: 20px;
    }
    .n {
        font-size: 25px;
    }
    .quote {
        margin: 10px 0;
    }
    #qp1 {
        font-size: 15px;
    }
    .footer1 {
        width: 100%;
        padding: 20px 0;
        background-color: #484872;
        text-align: center;
        position: relative;
        margin-top: 50px;
    }
    .footer1 p {
        color: whitesmoke;
        margin: 20px auto;
    }
    .textabout {
        color: #a82626;
        font-family: 'Garamond', serif;
        margin-bottom: 15px;
    }
    .pdiv {
        width: 90%;
        margin-left: 10px;
        margin-bottom: 50px;
        margin-top: -150px;
    }
    .pabout {
        color: #a82626;
        font-family: 'Garamond', serif;
        font-size: 30px;
        margin-top: 130px;
    }
    .reviews {
        padding: 20px;
        width: 82%;
        margin: 20px 0;
        border-left: 9px solid #a82626;
        background-color: #eee;
    }
    .reviews p {
        font-size: 18px;
    }
    .poster {
        margin-left: 10px;
        margin-top: 20px;
    }
    .photoabout {
        width: 100%;
        max-width: 200px;
        height: auto;
        margin: 0 auto;
    }
    .photoabout img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .box2 {
        width: 100%;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box4 {
        width: 100%;
        height: 60vh;
        background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.65)),url(w.jfif);
        background-size: cover;
        background-position: center;
        color: white;
        justify-content: left;
        text-align: left;
    }
    .box5 {
        padding-top: 25px;
        padding-left: 10px;
        font-size: 18px;
    }
    .box5 h2, .box5 h3 {
        font-size: 18px;
        padding-top: 25px; 
    }
    .icons {
        display: inline-block;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-top: 15px;
        margin-top: 30px;
    }
    .icons>div {
        width: 100%; 
        margin-left: 0;
        padding: 20px; 
    }
    .icons>div>img {
        width: 100%;
        max-width: 100px;
        height: auto;
    }
    .icons>div>dd {
        color: black;
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        margin-top: 10px;
    }
    .social {
        padding-top: 25px;
        text-align: center;
    }
    .fa {
        padding: 10px;
        font-size: 24px;
        width: 40px;
        text-align: center;
        margin: 20px 10px;
    } 
    .fa:hover {
        opacity: 0.7;
    }
    .register {
        min-height: 100vh;
        width: 90%;
        margin-top: 50px; 
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
    .form {
        position: relative;
        margin: 20px;
        max-width: 100%;
        width: 100%;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
    .form .registerform {
        display: none;
    }
    #check:checked ~ .registerform {
        display: block;
    }
    #check:checked ~ .login {
        display: none;
    }
    .register .form {
        padding: 20px; 
    }
    #check {
        display: none;
    }
    .form header {
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10px;
        letter-spacing: 1px;
    }
    .btn {
        height: 40px;
        width: 80%;
        padding: 0 10px;
        font-size: 14px; 
        margin-bottom: 15px;
        margin-left: 10px;
        border-bottom: 2px solid black;
        border-radius: 6px;
    }
    .form .btn:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    }
    .form input {
        width: 80%;
    }
    .form button.btn {
        width: 100%; 
}
}